
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Notre équipe</h2>
              <hr class="light">
              <p>Fort d’une expérience de 30 ans dans le domaine de la Mécanique du Bâtiment tant chez les distributeurs que chez les entrepreneurs, la compréhension des processus d’affaires propres à cette industrie est la force première du fondateur. Notre équipe est constituée de collaborateurs hautement qualifiés en développement informatique (expert Sharepoint), en gestion de projets, en administration des affaires et en comptabilité.</p>
          </div>
      </div>
  </aside>
