<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous avons ce dont vous avez besoin!</h2>
                <hr class="light">
                <p class="text-faded">Ayant pour objectif de limiter les inconvénients et les coûts normalement reliés aux changements, Mécatrix privilégie l’optimisation des outils déjà utilisés par les usagés. Nous actualisons et centralisons vos fichiers .xlsx et/ou .docx en les rendant collaboratifs, sécuritaires et plus efficace. Nous pouvons aussi créer des fichiers ainsi que des modèles de travails adaptés aux besoins spécifiques de l’entreprise.</p>
                <p class="text-faded">Un environnement sécurisé, propre à chacun de nos clients, est créé sous le compte sharepoint/mecatrix incluant les sites et sous-sites en fonction des besoins.</p>
                <p class="text-faded">Notre forfait inclus la mise en place de l’architecture Sharepoint, la mise à jour des prix liste pour les produits ciblés en fonction des fournisseurs choisis, l’hébergement des données et le support aux usagés.</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
      <a href="#services" class="btn btn-default btn-xl page-scroll">Voir nos services</a>
    </div>
</section>
