<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Mécatrix est spécialisée dans le développement et l’amélioration des processus d’affaires, plus particulièrement, pour les entreprises œuvrant dans le domaine de la Mécanique du Bâtiment. Reposant sur des technologies fiables et renommées tel que Sharepoint, Excel et SQL Serveur, nos solutions permettent aux entreprises d’accroître leur productivité tout en limitant les inconvénients reliés aux changements qui sont imposés aux utilisateurs lors de l’implantation d’un nouveau logiciel.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>
