<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">À votre service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ">
                <div class="service-box text-center">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Processus d’affaires visés</h3>
                </div>

                <ul class="text-muted">
                  <li>Gestion des soumissions (contrats de service, réparations, projets, etc.)</li>
                  <li>Gestion des avis de changements (décompte, envoie, suivi, lien pour facturation, etc.)</li>
                  <li>Gestion des dessins d’atelier.</li>
                  <li>Gestion documentaire.</li>
                  <li>Décomptes progressifs pour facturation.</li>
                  <li>Réquisitions.</li>
                  <li>Livraisons.</li>
                  <li>Rapports des ventes et des projets en cours.</li>
                  <li>Création d’un tableau de bord (dashboard).</li>
                  <li>Etc..</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="service-box text-center">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary"></i>
                    <h3>Fonctionnalités importantes</h3>
                </div>
                <ul class="text-muted">
                  <li>Accessibilité web.</li>
                  <li>Possibilité d’intégration avec les bases de données SQL serveur existantes.</li>
                  <li>Création de pdf et envoie par courriel automatisée.</li>
                  <li>Accès sécurisé et personnalisé en fonction du rôle de chacun des collaborateurs.</li>
                  <li>Historique des versions et des activités pour tous les fichiers et documents.</li>
                  <li>Notifications et rappels.</li>
                  <li>Métadonnées exploitables en Excel/Power View pour le montage de rapports.</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="service-box text-center">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary"></i>
                    <h3>Avantages</h3>
                </div>
                <ul class="text-muted">
                  <li>Amélioration de l’efficacité et du rendement des utilisateurs.</li>
                  <li>Diminution des délais de traitement.</li>
                  <li>Amélioration du suivi et du service aux clients.</li>
                  <li>Peu ou pas de frais pour l’analyse des processus d’affaires.</li>
                  <li>Aucun logiciel ni serveur à acheter ni à installer.</li>
                  <li>Utilisation des outils déjà en fonction (Excel, Word, etc)</li>
                  <li>Uniformisation des prix et des méthodes de présentation.</li>
                  <li>Diminution les possibilités d’erreurs.</li>
                  <li>Simplification du classement et de la gestion documentaire.</li>
                  <li>Données disponibles pour la production de rapports de performances.</li>
                  <li>Augmentation du volume des ventes et/ou des profits.</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="service-box text-center">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary"></i>
                    <h3>Intégration</h3>
                </div>
                <p class="text-muted">
                  Mécatrix offre un service d’intégration permettant d’avoir accès à vos bases de données existantes. Nous avons aussi l’expertise pour créer des bases de données SQL serveur adaptés aux besoins, incluant un service web pour les formulaires de saisie de données.
                </p>
            </div>
        </div>
    </div>
</section>
